
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>loginPost</title>
</head>
<body>
    <h2>
        Welcome @ViewBag.Username !
    </h2>
    <p>Password is @ViewBag.Password</p>
</body>
</html>
